.captchaOuter {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.308);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    box-sizing: content-box;
}

.captchaContainerDesktop {
    width: 40dvw;
    background-image: linear-gradient(-45deg, #ffffff, #fbfbfb, #ffffff);
    border-radius: 1dvw;
    padding-top: 2dvh;
    padding-bottom: 4dvh;
}

.captchaContainerPortrait {
    width: 90dvw;
    background-image: linear-gradient(-45deg, #ffffff, #fbfbfb, #ffffff);
    border-radius: 1dvw;
    padding-top: 2dvh;
    padding-bottom: 2dvh;
}