.captchaInputDesktop {
    background-color: #fff0;
    width: 50%;
    border: 0.25dvw coral solid;
    border-radius: 1.5dvw;
    padding-top: 1.2dvh;
    padding-bottom: 1.2dvh;
    padding-left: 1dvw;
    font-size: 1.5dvw;
}

.captchaInputPortrait {
    background-color: #fff0;
    width: 50%;
    border: 0.75dvw coral solid;
    border-radius: 5dvh;
    padding-top: 1.2dvh;
    padding-bottom: 1.2dvh;
    padding-left: 2dvw;
    font-size: 4dvw;
}

.captchaInputDesktop:focus,
.captchaInputPortrait:focus {
    outline: none;
}