.captchaImg {
    width: 70%;
    margin-bottom: 2dvh;
}

.captchaBttnsContainer {
    margin-top: 2dvh;
    width: 100%;
}

.unswerContainer {
    margin-top: 2dvh;
}


/*Portrait mod*/